td.machineColumn {
    
}

td.timeColumn {
    width: 1000px;
}

tr.head {
    
}

.jobBox {
    border: 1px solid;
    position: static;
    float: left;
}

.jobBox.ok {
    background-color: #00FF00;
}
.jobBox.warn {
    background-color: #FFFF00;
}